@import 'variables';
@import 'typography';
@import 'main';
@import 'projects';


// ********** background images **********
.jumbotron {
	background: url('../images/background_home.jpg') no-repeat;
	background-size: cover;
	padding: 25px;
}

#environment {
	background: url('../images/background_issues.jpg') no-repeat;
	background-size: cover;
}

#about {
	background: url('../images/background_about.jpg') no-repeat;
	background-size: 300%;
	background-position: 25% 50%;
}

// *************** SECTIONS ***************
// ********** header **********
h1 {
	padding: 17% 0 2%;
	&> a:hover {
		color: $white;
	}
}

.container {
	padding: 0 0 15%;
}

.nav-pills {
	&> li,
	&> li + li {
		float: none;
		margin: 0 20px;
		&> a {
			@include button($white);
			background: none;
			text-align: center;
			&:hover {
				color: $black;
			}
		}
	}
}

.jumbotron {
	margin-bottom: 0;
}

// ********** sign up/in **********
#login {

}


// ********** environmental issues **********
#environment {
	img {
		margin: 0 auto;
	}
	h3 {
		font-size: 1.3em;
		padding: 0;
		margin-top: 25px;
	}
	.col-sm-2 {
		padding: 0;
	}
	.issues {
		padding-top: 25px;
	}
}

// ********** modals **********
// TODO need to make modals link to other modals

// ********** projects **********
#projects {
	h3,
	p,
	a {
		margin-bottom: 20px;
	}
}

// ********** about **********
#about,
#about-team {
	.panel,
	.panel-group,
	.panel-default,
	.panel-heading,
	.panel-body {
		background: none;
		border: none;
		cursor: pointer;
		box-shadow: none;
	}
	.panel {
		margin-bottom: 20px;
	}
	.panel-heading {
		padding: 0;
	}
	h3 {
		font-size: 1.5em;
		span {
			content: url('../images/caret.svg');
			margin-right: 15px;
		}
	}
	.panel-body {
		font-size: 1.2em;
		padding-left: 30px;
	}
	.join-now {
		@include button($white);
		background: none;
		font-size: 17px;
		color: $white;
		&:hover {
			color: $black;
		}
		margin-left: 50px;
	}
}

#about-team {
	background: $darkslategray;
	.panel {
		margin-top: 20px;
	}
	.panel-body {
		padding: 0;
	}
	h4 {
		font-size: 1.3em;
		margin-bottom: 15px;
	}
	img {
		max-width: 75%;
		margin-top: 25px;
	}
	.col-md-12:last-child {
		padding: 0;
	}
	p > a,
	h4 > a {
		color: lighten($darkslategray, 50);
		@extend %transition;
		&:hover {
			color: lighten($darkslategray, 80);
			@extend %transition;
		}
	}
}
footer {
	width: 100%;
	height: 75px;
	padding-bottom: 25px;
	background: $darkslategray;
	.btn-top {
		@include button($white);
		background: none;
		color: $white;
		margin-right: 25px;
		span {
			content: url('../images/caret_upw.svg');
			margin-right: 20px;
		}
		&:hover {
			color: $black;
			span {
				content: url('../images/caret_up.svg');
				margin-right: 20px;
			}
		}
	}
}

/********** MEDIA QUERIES **********/
/* Extra small devices landscape (phones, less than 768px) */
@media all and (max-width: 767px) and (orientation: landscape) {
	h1 {
		padding-top: 5%;
	}
	.container {
		padding-bottom: 5%;
	}
	.nav-pills {
		padding: 0 15%;
	}
	#login {
		form {
			padding: 0 20%;
			input {
				width: 300px;
			}
		}
	}
}

/* Small devices portrait (tablets, 768px and up) */
@media all and (min-width: 768px) /*and (orientation: portrait)*/ {
	h2 {
		margin: 50px 0;
	}
	.container-fluid {
		padding: 0 50px;
	}
	.nav-pills {
		padding: 0 15%;
	}
	#login {
		padding: 50px 0;
		.col-sm-6:first-child {
			padding-right: 75px;
			h2.users {
				text-align: right;
			}
			button {
				float: right;
			}
		}
		.col-sm-6:nth-child(2) {
			border-left: 1px solid $black;
			padding-left: 75px;
		}
		input {
			width: 300px;
		}
	}
	#environment {
		padding: 75px 50px;
		img {
			width: 75%;
		}
		h3 {
			margin-top: 70px;
		}
		.col-sm-2 {
			margin-left: 0;
			&:first-child {
				margin-left: 16.66666667%;
			}
		}
		.issues {
			padding-top: 100px;
			background: url('../images/lines_white.png') 50% 42% no-repeat;
			background-size: 55%;
		}
	}
	#projects {
		a {
			margin-bottom: 0;
		}
		.row {
			margin-bottom: 50px;
		}
	}
	#about,
	#about-team {
		.panel-heading {
			padding: 10px 15px;
		}
		.panel-body {
			font-size: 1.2em;
			padding-left: 55px;
		}
		h3 {
			span {
				margin-right: 25px;
			}
		}
		img {
			max-width: 100%;
		}
	}
	footer {
		height: 0;
		.btn-top {
			margin: -65px 50px 0 0;
		}
	}
}

/* Small devices landscape(tablets, 768px and up) */
@media all and (min-width: 768px) and (orientation: landscape) {


}

/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) {

	.nav-pills {
		padding: 0;
		&> li,
		&> li + li {
			margin: 0 20px 0 0;
			display: inline-block;
		}
	}
	#about,
	#about-team {
		img {
			margin-top: 0;
		}
		.col-md-12:last-child {
			padding: 0 15px;
		}
	}
}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {



}