nav {
  background: rgb(51, 51, 51);
  height: 50px;
}
nav li {
  padding: 5px;
  display: inline-block !important;
}
nav a {
  color: white;
}


.btn, .btn:hover, .projects .btn-back, .projects .btn-back:hover, .nav-pills > li > a, .nav-pills > li + li > a, .nav-pills > li > a:hover, .nav-pills > li + li > a:hover, #about .join-now,
#about-team .join-now, #about .join-now:hover,
#about-team .join-now:hover, #about-team p > a,
#about-team h4 > a, #about-team p > a:hover,
#about-team h4 > a:hover, footer .btn-top, footer .btn-top:hover {
  transition: all 0.4s ease-in-out;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 > a,
.nav-pills > li > a,
#environment h2,
#environment h3,
#about h2,
#about p,
.panel-title > a,
.panel-body {
  color: white;
  font-weight: 300;
}

h2 {
  margin: 25px 0;
  font-size: 3em;
  font-weight: 300;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

a:hover {
  text-decoration: none;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border: none;
  color: rgba(0, 0, 0, 0);
}

.btn {
  font-size: 1.2em;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  padding: 10px 25px;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  color: dodgerblue;
  border-color: dodgerblue;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: none;
}

.container-fluid {
  padding: 25px;
}

.projects h3,
.projects #environment h3:first-child {
  margin: 0 0 20px;
  font-size: 2em;
}
.projects section > p {
  padding-right: 20px;
}
.projects .subsequent-heading,
.projects .btn {
  margin-top: 15px;
}
.projects #environment {
  background: none;
}
.projects #environment h3 {
  color: #0b0b0b;
}
.projects .btn-back {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  border: 2px solid lightslategrey;
  color: #0b0b0b;
}
.projects .btn-back:hover {
  cursor: pointer;
  background-color: white;
  color: white;
  border-color: white;
}
.projects .btn-back span {
  content: url("../images/caret_backb.svg");
  margin-right: 20px;
}
.projects .btn-back:hover {
  border: 2px solid lightslategrey;
  background: lightslategrey;
  color: white;
}
.projects .btn-back:hover span {
  content: url("../images/caret_backw.svg");
  margin-right: 20px;
}

/* Small devices portrait (tablets, 768px and up) */
@media all and (min-width: 768px) {
  .projects #environment .issues {
    padding-top: 100px;
    background: url("../images/lines_grey.png") 50% 42% no-repeat;
    background-size: 55%;
  }
}
#leaf-drop header {
  background: url("../images/header_leafdrop.jpg") no-repeat;
  width: 100%;
  height: 200px;
  background-size: 100%;
}
#leaf-drop aside {
  background: #ed8930;
  padding: 20px;
  color: white;
}

#salamander-watch header {
  background: url("../images/header_salamander.jpg") no-repeat;
  width: 100%;
  height: 200px;
  background-size: 100%;
}
#salamander-watch aside {
  background: #e0a903;
  padding: 20px;
  color: white;
}

.jumbotron {
  background: url("../images/background_home.jpg") no-repeat;
  background-size: cover;
  padding: 25px;
}

#environment {
  background: url("../images/background_issues.jpg") no-repeat;
  background-size: cover;
}

#about {
  background: url("../images/background_about.jpg") no-repeat;
  background-size: 300%;
  background-position: 25% 50%;
}

h1 {
  padding: 17% 0 2%;
}
h1 > a:hover {
  color: white;
}

.container {
  padding: 0 0 15%;
}

.nav-pills > li, .nav-pills > li + li {
  float: none;
  margin: 0 20px;
}
.nav-pills > li > a, .nav-pills > li + li > a {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  background: none;
  text-align: center;
}
.nav-pills > li > a:hover, .nav-pills > li + li > a:hover {
  cursor: pointer;
  background-color: white;
  color: white;
  border-color: white;
}
.nav-pills > li > a:hover, .nav-pills > li + li > a:hover {
  color: #0b0b0b;
}

.jumbotron {
  margin-bottom: 0;
}

#environment img {
  margin: 0 auto;
}
#environment h3 {
  font-size: 1.3em;
  padding: 0;
  margin-top: 25px;
}
#environment .col-sm-2 {
  padding: 0;
}
#environment .issues {
  padding-top: 25px;
}

#projects h3,
#projects p,
#projects a {
  margin-bottom: 20px;
}

#about .panel,
#about .panel-group,
#about .panel-default,
#about .panel-heading,
#about .panel-body,
#about-team .panel,
#about-team .panel-group,
#about-team .panel-default,
#about-team .panel-heading,
#about-team .panel-body {
  background: none;
  border: none;
  cursor: pointer;
  box-shadow: none;
}
#about .panel,
#about-team .panel {
  margin-bottom: 20px;
}
#about .panel-heading,
#about-team .panel-heading {
  padding: 0;
}
#about h3,
#about-team h3 {
  font-size: 1.5em;
}
#about h3 span,
#about-team h3 span {
  content: url("../images/caret.svg");
  margin-right: 15px;
}
#about .panel-body,
#about-team .panel-body {
  font-size: 1.2em;
  padding-left: 30px;
}
#about .join-now,
#about-team .join-now {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid white;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  background: none;
  font-size: 17px;
  color: white;
  margin-left: 50px;
}
#about .join-now:hover,
#about-team .join-now:hover {
  cursor: pointer;
  background-color: white;
  color: white;
  border-color: white;
}
#about .join-now:hover,
#about-team .join-now:hover {
  color: #0b0b0b;
}

#about-team {
  background: #382d5d;
}
#about-team .panel {
  margin-top: 20px;
}
#about-team .panel-body {
  padding: 0;
}
#about-team h4 {
  font-size: 1.3em;
  margin-bottom: 15px;
}
#about-team img {
  max-width: 75%;
  margin-top: 25px;
}
#about-team .col-md-12:last-child {
  padding: 0;
}
#about-team p > a,
#about-team h4 > a {
  color: #b9b0d9;
}
#about-team p > a:hover,
#about-team h4 > a:hover {
  color: white;
}


footer {
  width: 100%;
  height: 75px;
  display: block;
  padding-bottom: 25px;
  background: #fff;
}
footer p {
  padding-left: 20px;
  padding-top: 25px;
}
footer .nsf-logo {
  width: 100%;
  max-width: 75px;
  padding: 10px 0;
  margin-left: 50px;
}
footer .btn-top {
  font-size: 1.2em;
  background-color: white;
  border: 2px solid #382d5d;
  border-radius: 4px;
  padding: 10px 25px;
  background-image: none;
  box-shadow: none;
  background: none;
  color: #382d5d;
  margin: 25px 25px;
}
footer .btn-top:hover {
  cursor: pointer;
  background-color: #382d5d;
  color: white;
  border-color: #382d5d;
}
footer .btn-top span {
  content: url("../images/caret_up.svg");
  margin-right: 20px;
}
footer .btn-top:hover span {
  content: url("../images/caret_upw.svg");
  margin-right: 20px;
}

/********** MEDIA QUERIES **********/
/* Extra small devices landscape (phones, less than 768px) */
@media all and (max-width: 767px) and (orientation: landscape) {
  h1 {
    padding-top: 5%;
  }

  .container {
    padding-bottom: 5%;
  }

  .nav-pills {
    padding: 0 15%;
  }

  #login form {
    padding: 0 20%;
  }
  #login form input {
    width: 300px;
  }
}
/* Small devices portrait (tablets, 768px and up) */
@media all and (min-width: 768px) {
  h2 {
    margin: 50px 0;
  }

  .container-fluid {
    padding: 0 50px;
  }

  .nav-pills {
    padding: 0 15%;
  }

  #login {
    padding: 50px 0;
  }
  #login .col-sm-6:first-child {
    padding-right: 75px;
  }
  #login .col-sm-6:first-child h2.users {
    text-align: right;
  }
  #login .col-sm-6:first-child button {
    float: right;
  }
  #login .col-sm-6:nth-child(2) {
    border-left: 1px solid #0b0b0b;
    padding-left: 75px;
  }
  #login input {
    width: 300px;
  }

  #environment {
    padding: 75px 50px;
  }
  #environment img {
    width: 75%;
  }
  #environment h3 {
    margin-top: 70px;
  }
  #environment .col-sm-2 {
    margin-left: 0;
  }
  #environment .col-sm-2:first-child {
    margin-left: 16.66666667%;
  }
  #environment .issues {
    padding-top: 100px;
    background: url("../images/lines_white.png") 50% 42% no-repeat;
    background-size: 55%;
  }

  #projects a {
    margin-bottom: 0;
  }
  #projects .row {
    margin-bottom: 50px;
  }

  #about .panel-heading,
  #about-team .panel-heading {
    padding: 10px 15px;
  }
  #about .panel-body,
  #about-team .panel-body {
    font-size: 1.2em;
    padding-left: 55px;
  }
  #about h3 span,
  #about-team h3 span {
    margin-right: 25px;
  }
  #about img,
  #about-team img {
    max-width: 100%;
  }

/*  pre-nsf-logo
  footer {
    height: 0;
  }*/
/*  footer .btn-top {
    margin: -65px 50px 0 0;
  }*/
}
/* Small devices landscape(tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media all and (min-width: 992px) {
  .nav-pills {
    padding: 0;
  }
  .nav-pills > li, .nav-pills > li + li {
    margin: 0 20px 0 0;
    display: inline-block;
  }

  #about img,
  #about-team img {
    margin-top: 0;
  }
  #about .col-md-12:last-child,
  #about-team .col-md-12:last-child {
    padding: 0 15px;
  }
}
/* Large devices (large desktops, 1200px and up) */
