!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title Pioneer Valley Citizen Science Collaboratory - Leaf Drop
      %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
        %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
        %link{:href => "../bower_components/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}
          %link{:href => "../bower_components/bootstrap/dist/css/bootstrap-theme.min.css", :rel => "stylesheet"}
            %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300", :rel => "stylesheet", :type => "text/css"}
              %link{:href => "../css/styles.css", :rel => "stylesheet"}/
              %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
                %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}
                  %script{:src => "../bower_components/jquery/dist/jquery.min.js", :type => "text/javascript"}
                  %script{:src => "../bower_components/bootstrap/dist/js/bootstrap.min.js", :type => "text/javascript"}
                  %script{:src => "js/app.js", :type => "text/javascript"}
  %body#salamander-watch.projects
    / <header class="container-fluid"></header>
    .container-fluid
      %h2 Salamander Watch
      .row
        %section.col-xs-12.col-sm-8
          %h3 Project Overview
          %p Salamander Watch is a collaboration between Hampshire College and The Hitchcock Center for the Environment in Amherst, MA. This project involves both the “Big Night” (counting of spotted salamanders during the early spring mating migration) and the Egg Mass Count (which happens 3-4 weeks after the Big Night, and is used to get a better estimate of the breeding success and overall health of the population).
          %h3.subsequent-heading Spotted Salamander Basics
          %p Adult spotted salamanders are 15-25 cm in total length, and females tend to be larger than males. Compared to other salamanders, the body is stout with a broadly rounded snout. The sides of the head are often swollen at the back of the jaw. The legs are large and strong with four to five toes. (Petranka, 1998) When they leave their ponds, spotted salamanders are black, dark brown, or dark grey on their backs...
          / <a class="btn btn-primary" href="http://en.wikipedia.org/wiki/Spotted_salamander" target="_blank">Read More</a>
        %aside.col-xs-12.col-sm-4
          %h3 Salamander Watch Expeditions
          / <p>Odd Future Godard fashion axe scenester. 90's, art party Austin sartorial, letterpress artisan Blue Bottle paleo Thundercats YOLO flannel vegan church-key direct trade chillwave. Literally cornhole pork belly, synth Thundercats fingerstache try-hard VHS McSweeney's. XOXO wolf literally slow-carb church-key deep.</p>
          / <a class="btn btn-primary" href="">No Current Expeditions</a>
          .row
            .col-xs-12.col-sm-6
              %a.thumbnail{:href => "#"}
                %img.img-responsive{:alt => "Launch an investigation", :src => "/images/launch_investigation.png"}/
            .col-xs-12.col-sm-6
              %a.thumbnail{:href => "#"}
                %img.img-responsive{:alt => "Launch an investigation", :src => "/images/explore_data.png"}/
    / environmental issues
    %section#environment.container-fluid
      %h3 Environmental Issues Affecting Salamanders
      .row.issues
        .col-xs-8.col-sm-2.col-sm-offset-2
          %a.thumbnail{"data-target" => "#biodiversity-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Biodiversity Icon", :src => "/images/issue_biodiversity.png"}/
            %h3.caption.text-center Biodiversity
        .col-xs-8.col-sm-2
          %a.thumbnail{"data-target" => "#climate-change-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Climate Change Icon", :src => "/images/issue_climatechange.png"}/
            %h3.caption.text-center Climate Change
        .col-xs-8.col-sm-2
          %a.thumbnail{"data-target" => "#invasive-species-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Invasive Species Icon", :src => "/images/issue_invasivespecies.png"}/
            %h3.caption.text-center Invasive Species
        .col-xs-8.col-sm-2
          %a.thumbnail{"data-target" => "#habitat-loss-icon", "data-toggle" => "modal", :href => "#"}
            %img.img-responsive{:alt => "Habitat Loss Icon", :src => "/images/issue_habitatloss.png"}/
            %h3.caption.text-center Habitat Loss
      / Modals
      / Biodiversity
      #biodiversity-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "biodiversity-icon", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            / <div class="modal-header">
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#biodiversity-title.modal-title Biodiversity
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Biodiversity Icon", :src => "/images/modal_biodiversity.png"}/
            .col-md-8
              %p The decline in amphibian populations has been both well-documented and well publicized. However, this attention is largely focused on frogs and toads. Little mention is given to salamanders or the threats that they face. This is unfortunate as the decline in salamander species is extremely significant. Around half of all the world’s salamander species are listed as Threatened by the International Union for Conservation of Nature (IUCN).
              %p These species are all facing a high risk of extinction.
              %p A further 62 species have been designated as Near-Threatened with populations that are dwindling. This means they are quickly getting closer to Threatened Status and to the brink of extinction.
              %p Sadly for some salamanders it is already too late, as both the Yunnan Lake Newt (Cynops wolterstorffi) and Ainsworth's Salamander (Plethodon ainsworthi) have already gone extinct; completely exterminated by the callous hands of humans.
              %p Salamanders have been on the earth for over 160 million years, and the terrible state that they now find themselves in is due to the detrimental acts of humans.  Even those species that are not experiencing population declines deserve attention and conservation to ensure that they remain healthy and stable.
      / Climate Change
      #climate-change-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "climate-change-icon", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            / <div class="modal-header">
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#climate-change-title.modal-title Climate Change
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Climate Change Icon", :src => "/images/modal_climate.png"}/
            .col-md-8
              %p Climate change is among the most serious threats that salamander populations face. Detrimental changes in climate such as increased temperatures, changing humidity levels, desertification, and droughts wreak havoc on salamanders. These animals are generally adapted to moist and cool climates and may require very specific conditions to thrive. Salamanders also live a "double-life" being associated with both aquatic and terrestrial habitats.
              %p Alterations to these optimal conditions result in salamander species dwindling. Changes in climate can also effect the forming and availability of critical habitat features such as change. They state that salamanders need cool moist places to survive. The world is getting hotter and drier; temperatures in Appalachia are predicted to rise by 3 to 11 degrees Fahrenheit over the next century. Salamanders have relatively long lifespans, but they do not mature or reproduce as quickly as some other aquatic animals. They may not be able to adapt to such radical change.
              %p Biologists from the University of California, Berkeley, have reported that salamander populations in parts of Central America have declined sharply in the past 40 years and global warming could be the cause.
      / Invasive Species
      #invasive-species-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invasive-species-icon", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            / <div class="modal-header">
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#invasive-title.modal-title Invasive Species
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Invasive Species Icon", :src => "/images/modal_invasive.png"}/
            .col-md-8
              %p In contrast to the positive effect that round gobies have had on Lake Erie watersnakes, invasive species more typically have negative effects on native species. This is certainly true for European buckthorn, an invasive woody shrub that now occurs across a large portion of eastern North America and has displaced native plants, changed soil characteristics and patterns of nutrient cycling, and may be triggering declines of a variety of invertebrate and vertebrate species. European buckthorn is especially successful at invading flatwoods forest habitats.
              %p Such forests are underlain by a clay pan that resists water percolation, and are characterized by hydric soils and ephemeral ponds that are important amphibian breeding sites. The rarity of flatwoods forests has resulted in their recognition as globally imperiled and has made them the target of management and restoration efforts.
              %p One such effort is that of the Lake County Forest Preserve District in northeastern Illinois to restore the MacArthur Woods flatwoods forest through European buckthorn removal and drainage tile disablement. Following these restoration efforts, the District approached Dr. Carl von Ende and me with an offer to fund a PhD dissertation project aimed at assessing the feasibility of reintroducing three species of amphibians that had been extirpated from the site, spotted salamanders, woodfrogs, and spring peepers. A national search resulted in our hiring Allison Sacerdote to undertake this project. Allison conducted a series of in situ photo of Leaf Litter Methodenclosure experiments that demonstrated similar hatching success and survival to metamorphosis between restored ponds and source ponds in a neighboring county, suggesting that reintroduction should be possible.
      / Habitat Loss
      #habitat-loss-icon.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "habitat-loss-icon", :role => "dialog", :tabindex => "-1"}
        .modal-dialog
          .modal-content
            / <div class="modal-header">
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h4#habitat-loss-title.modal-title Habitat Loss
          .modal-body.row
            .col-xs-12.col-sm-4
              .thumbnail
                %img{:alt => "Habitat Loss Icon", :src => "/images/modal_habitat.png"}/
            .col-xs-12.col-sm-8
              %p One of the biggest issues affecting salamanders is the loss of their natural habitat. Many areas that were once suitable for salamanders to live have now been destroyed for developmental construction and agriculture. Habitats of all kinds are being lost at an alarming rate. Wetlands are drained, forests are logged and cut down, and waterfronts are developed. Salamanders are literally losing their homes and they are losing them rapidly! Deforestation is particularly harmful to salamanders. When the amount of shade that covers the forest floor is reduced due to the removal of trees, the increased sunlight can allow for higher temperatures to reach the forest floor.
              %p This increases the threat of desiccation. The exposed sunlight can also rapidly dry up vernal pools and temporary flooded areas on the forest floor which are crucial breeding/birthing sites. The expansion of urban areas threatens the suitable habitats that still remain.
              %p Where natural habitats do still exist, they are often fragmented or degraded. Fragmentation occurs when healthy areas of habitat are isolated from one another. These fragmented areas are known as habitat islands. Salamander populations are affected since gene flow between the populations is prevented. This increases the occurrence of inbreeding, which results in a decrease in genetic variability. Fragmented populations where inbreeding occurs often ends in a genetic bottleneck this is an evolutionary event where a significant percentage of the populartion or species is killed otherwise prevented from reproducing.